<%- include('partials/header') -%>

<h1>Result Page</h1>

<h2>Image labels</h2>
<p><strong>File name: </strong><%= img_name %></p>
<p><strong>File path: </strong><%= img_path %></p>
<p><strong>Labels: </strong><%= labels %></p>
<p><strong>Image: </strong></p>
<image class="w-25 p-3" src=<%= img_path %> />
<%- include('partials/footer') -%>
